<h3 style="background-color: rgb(130, 219, 248); color: black; text-align: center; padding: 20px 10px 20px 10px">
    Message Board
</h3>
<table class="table table-striped" style="">
    <thead>
        <tr>
            <th>Name</th>
            <th>Message</th>
            <th style="margin: 5px;"></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td style="width: 350px; word-wrap: keep-all;">{{this.message}}</td>
            <td style="left: 20px;">
                <a href="/message/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this message ?');" style="margin-left: 20px; color: orange;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
        
    </tbody>
    

</table>
<a class="btn btn-info" href="/message" style="margin: 0 0 0 0;">
    <i class="fa fa-plus-circle"></i> New</a>