<h3 style="background-color: rgb(130, 219, 248); color: black; text-align: center;">
    Message Board
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td style="word-wrap: keep-all;">{{this.message}}</td>
            <td>
                <a href="/message/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this message ?');" style="margin-left: 20px; color: orange;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
        
    </tbody>
    

</table>
<a class="btn btn-info" href="/message" style="margin-left: 10px; margin-right: 25px;">
    <i class="fa fa-plus-circle"></i> New</a>